a{
    color: mintcream;
    padding: 3px 20px;
    font-family: cursive;
    font-size: 20pt;
    padding: 0px;
}
button{
    background-image: url(istockphoto-1078879706-612x612.jpg);
    transition-duration: 0.3s;
    border-radius: 10px;
    
}
button:hover{
    background-color: black;
    color: black;
    background-image: none;
}