nav{
    color: whitesmoke;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}
head{
    text-align: center;
}
a{
   color: mintcream;
   padding: 3px 20px;
   font-family: cursive;
   font-size: 20pt;
   padding: 0px;
}
a:hover{
   font-size: 40px;
   transition-duration: .5s;
}
button{
   background-image: url(istockphoto-1078879706-612x612.jpg);
   transition-duration: 0.3s;
   border-radius: 10px; 
}
button:hover{
   background-color: black;
   color: black;
   background-image: none;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
 }
 .picturepage{
    width: 300px;
    height: 400px;
    margin-left: 10px;
    border: solid black;
    border-radius: 10px;
    border-width: 10px;
    margin-top: 15px;
 }
 .maincontent{
    text-align: center;
    border: solid black;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: darkgrey;
    text-shadow: 0 0 10px black;
    background-image: url(./EC1711.jpg);
 }
 .charliepic{
    width: 500px;
    height: 300px;
    margin-left: 15px;
    border: solid black;
    border-radius: 10px;
    border-width: 10px;
    margin-top: 15px;
 }
 h1{
    font-size: xx-large;
    border: solid black;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    padding: 0 10px;
    background-color: rgb(66, 66, 66);
    font-family: cursive;
    color: rgb(255, 255, 255);
    background-image: url(./depositphotos_384695892-stock-photo-concrete-black-dark-gray-background.jpg);
 }
 h2{
    border: solid black;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    padding: 0 10px;
    background-color: rgb(77, 67, 67);
    border-radius: 20px;
    font-size: xx-large;
    font-family: cursive;
    color: rgb(255, 255, 255);
    background-image: url(./depositphotos_384695892-stock-photo-concrete-black-dark-gray-background.jpg);
 }
 .maincontent > p{
    color: white;
    font-size: larger;
    border: solid black;
    margin: 10px 10px;
    background-color: slategray;
    font-family: cursive;
    font-weight: bolder;
    text-shadow: rgb(66, 66, 66);
    background-image: url(./blue-smooth-stone-textured-background_53876-103944.jpg);
    
 }
 body{
    background-image: url(./black-texture-pictures-jbdst9zhukx5qokc.jpg);
    background-color: rgb(65, 65, 65);
 }
 section{
    margin: 0 auto;
 }